<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to myPyWeb !</title>
      {% endif %}
    </head>
    <body>
        <div style=" padding:20px; height:30px; text-align:center; background-color: rgb(3, 56, 1);">
          <a href="{{ url_for('index') }}" style="margin:10px;color:white; font-size: 20px;">Home</a>
          <a href="{{ url_for('login') }}" style="margin:10px;color:white; font-size: 20px;">Login</a>
        </div>
       
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}   
        {% block content %}{% endblock %}
        </div>
    </body>
</html>